<div class="col-md-12">
    <!--   Kitchen Sink -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div align="center">
                <b>PENILAIAN</b>
            </div>
        </div>
        <br>
        <h4>keterangan:</h4>
        <h4>Nama : Bagus Joko </h4>
        <h4>Semester : 4</h4>


        <p align="center">PILIH MATAKULIAH YANG ANDA NILAI</p>
        <section class="panel" ng-repeat="item in Pertanyaan">
            <header class="panel-heading">
                {{item.Kompetensi}}
            </header>

            <div class="panel-body">
                <div ng-class="item.klas">
                    <div ng-repeat="pertanyaan in item.Pertanyaan">
                        <div class="panel-heading">
                            {{pertanyaan.butir_yang_dinilai}}
                        </div>
                        <div class="panel-content">
                            <div class="form-group">
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{pertanyaan.no}}" id="optionsRadios1" value="1">
                                        Kurang
                                        Baik
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{pertanyaan.no}}" id="optionsRadios2" value="2"> Baik
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{pertanyaan.no}}" id="optionsRadios3" value="3">
                                        Cukup
                                        Baik
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{pertanyaan.no}}" id="optionsRadios4" value="4">
                                        Sangat
                                        Baik
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <button  type="button" class ="btn btn-primary" ng-click = "Simpan()">
                    Save </button>
            </div>
        </section>
    </div>
    <!-- End  Kitchen Sink -->
