<div class="row">
    <div class="col-md-12">
        <!--   Kitchen Sink -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div align="center">
                    <b>PENILAIAN</b>
                </div>
            </div>
            <br>
            <a style="margin-left: 10px;" id="modal-195230" href="" role="button" class="btn btn-primary"
                data-target="#modal-container-195230" data-toggle="modal" ng-click = "GetSimpan()">ADD</a>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <tdead>
                            <tr>
                                <td align="center"><b>No</b></td>
                                <td align="center"><b>NPM</b></td>
                                <td align="center"><b>Nama Mahasiswa</b></td>
                                <td align="center"><b>Alamat</b></td>
                                <td align="center"><b>jurusan</b></td>
                                <td align="center"><b>Jenjang</b></td>
                                <td align="center" colspan="2"><b>Action</b></td>
                            </tr>
                        </tdead>
                        <tbody>
                            <tr ng-repeat="item in DatasMahasiswa">
                                <td align="center">{{$index+1}}</td>
                                <td align="center">{{item.npm}}</td>
                                <td align="center">{{item.nm_mahasiswa}}</td>
                                <td align="center">{{item.alamat}}</td>
                                <td align="center">{{item.jurusan}}</td>
                                <td align="center">{{item.jenjang}}</td>
                                <td align="center"><button class="btn btn-info"
                                     id="modal-195230" data-target="#modal-container-195230" 
                                     data-toggle="modal" ng-click="GetData(item)">Ubah</button></td>
                                <td align="center"><button class="btn btn-warning"  ng-click ="Hapus(item)">Hapus</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Kitchen Sink -->
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">


            <div class="modal fade" id="modal-container-195230" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">
                                MASUKAN DATA    
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">

                                    <label for="exampleInputNpm">
                                        NPM
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputNpm" ng-model="input.npm" />
                                    
                                </div>
                                <div class="form-group">

                                    <label for="exampleInputnm_mahasiswa">
                                        Nama Mahasiswa
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputnm_mahasiswa" ng-model="input.nm_mahasiswa" />
                                </div>
                                <div class="form-group">

                                    <label for="exampleInputAlamat">
                                        Alamat
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputAlamat" ng-model="input.alamat" />
                                </div>
                                <div class="form-group">

                                    <label for="exampleInputJurusan">
                                        Jurusan                                                   
                                    </label>
                                    
                                    <select class="form-control" ng-options="item as item.jurusan for item in DatasJurusan track by item.kd_jurusan" ng-model="SelectedJurusan"></select>      
                                </div>
                                <div class="form-group">

                                        <label for="exampleInputJenjang">
                                        Jenjang
                                        </label>
                                        <select class="form-control" ng-options="item.Jenjang for item in Jenjang track by item.Jenjang" ng-model="selectedJenjang"></select>
                                       
                                    </div>

                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary" ng-click = "Simpan()">
                                Save </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>