<div class="row">
    <div class="col-md-12">
        <!--   Kitchen Sink -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div align="center">
                    <b>PENGGUNA</b>
                </div>
                <p>KETERANGAN:
                    <br>
                    ID ROLE: 3 = ADMIN
                    <br>
                    ID ROLE: 4 = MAHASISWA
                </p>

                <a style="margin-left: 16px;" id="modal-195230" href="" role="button" class="btn btn-primary"
                    data-target="#modal-container-195230" data-toggle="modal" ng-click="GetSimpan()">Tambah</a>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <tdead>
                                <tr>
                                    <td align="center"><b>No</b></td>
                                    <td align="center"><b>User Name</b></td>
                                    <td align="center"><b>Nama Role</b></td>
                                    <td align="center"><b>Pasword</b></td>
                                    <td align="center"><b>Email</b></td>
                                    <td align="center"><b>Nama Pengguna</b></td>
                                    <td align="center" colspan="2"><b>Action</b></td>
                                </tr>
                            </tdead>
                            <tbody>
                                <tr ng-repeat="item in DatasUserinrole">
                                    <td align="center">{{$index+1}}</td>
                                    <td align="center">{{item.Username}}</td>
                                    <td align="center">{{item.Nama_role}}</td>
                                    <td align="center">{{item.Pasword}}</td>
                                    <td align="center">{{item.email}}</td>
                                    <td align="center">{{item.Nama}}</td>
                                    <td align="center"><button class="btn btn-info" id="modal-195230"
                                            data-target="#modal-container-195230" data-toggle="modal"
                                            ng-click="GetData(item)">Ubah</button></td>
                                    <td align="center"><button class="btn btn-warning"
                                            ng-click="Hapus(item)">Hapus</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End  Kitchen Sink -->
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <div class="modal fade" id="modal-container-195230" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myModalLabel">
                                    MASUKAN DATA
                                </h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form role="form">
                                    <div class="form-group">

                                        <label for="exampleInputUsername">
                                            User Name
                                        </label>
                                        <input type="text" class="form-control" id="exampleInputUsername"
                                            ng-model="input.Username" />

                                    </div>
                                    <div class="form-group">

                                        <label for="exampleInputNama_role">
                                            Nama Rol
                                        </label>
                                        <input type="text" class="form-control" id="exampleInputNama_role"
                                            ng-model="input.Nama_role" />
                                    </div>
                                    <div class="form-group">

                                        <label for="exampleInputPasword">
                                            Pasword
                                        </label>
                                        <input type="text" class="form-control" id="exampleInputPasword"
                                            ng-model="input.Pasword" />
                                    </div>
                                    <div class="form-group">

                                        <label for="exampleInputemail">
                                            Email
                                        </label>
                                        <input type="text" class="form-control" id="exampleInputemail"
                                            ng-model="input.email" />
                                    </div>
                                    <div class="form-group">

                                        <label for="exampleInputNama">
                                            Nama Pengguna
                                        </label>
                                        <input type="text" class="form-control" id="exampleInputNama"
                                            ng-model="input.Nama" />
                                    </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-primary" ng-click="Simpan()">
                                    Save </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>